# untrack source file
/workspace/*.xlsx
/workspace/*.json
/workspace/*.jsonl
/workspace/source*

# untrack intermediate file
/workspace/*.db
/workspace/*.txt
/workspace/random*

# untrack dev dir
/dockerfile/dev

# untrack __pycache__
__pycache__/