# untrack source file
*.json
*.jsonl

# untrack source excel files except Financial Sample.xlsx
workspace/source/*.xlsx
!workspace/source/Financial Sample.xlsx

# untrack intermediate file
/workspace/*.db
/workspace/*.txt

# untrack dev dir
/dockerfile/dev

# untrack __pycache__
__pycache__/